<!DOCTYPE html>
<html>
<head>
  <title>Playhand</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'development-bundle/jquery-1.4.2.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="error_msg"></div>
<div id="info_msg"></div>
<div id="user">
 <% if current_user != nil %>  
   Signed in as <%= current_user.email %>. Not you?
   <%= link_to "Sign out",destroy_user_session_path %>
 <% else %>
   <%= link_to "Sign up",new_user_registration_path %>
 <% end %>
</div>
<div id="nav"><button id="new_hand">New</button></div>
  <%= yield %>
</body>
</html>
